{% extends 'base.html' %}

{% block sidebar_btn %}
    <button class="btn btn-dark ms-2" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>
{% endblock %}

{% block sidebar %}
    {% include 'barra_lateral.html' %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">{{ asignatura.nombre }}</h1>
    <ul class="nav nav-tabs" id="asignaturaTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tablon-tab" data-bs-toggle="tab" data-bs-target="#tablon" type="button" role="tab" aria-controls="tablon" aria-selected="true">Tablón</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tareas-tab" data-bs-toggle="tab" data-bs-target="#tareas" type="button" role="tab" aria-controls="tareas" aria-selected="false">Tareas</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="reuniones-tab" data-bs-toggle="tab" data-bs-target="#reuniones" type="button" role="tab" aria-controls="reuniones" aria-selected="false">Reuniones</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="miembros-tab" data-bs-toggle="tab" data-bs-target="#miembros" type="button" role="tab" aria-controls="miembros" aria-selected="false">Miembros</button>
        </li>
    </ul>
    <div class="tab-content" id="asignaturaTabsContent">
        <!-- FORO -->
        <div class="tab-pane fade show active" id="tablon" role="tabpanel" aria-labelledby="tablon-tab">
            <div class="mt-4">
                {% if foro %}
                    <h3 class="text-center">Bienvenido a {{asignatura.foro.titulo}}</h3>
                    
                    {% for mensaje in mensajes %}
                    <div style="margin-left: {{ mensaje.nivel|default:0 }}em;">
                        <p><strong>{{ mensaje.autor.username }}</strong> - {{ mensaje.fecha_creacion }}</p>
                        <p>{{ mensaje.contenido }}</p>
                        {% include "respuesta.html" with mensaje=mensaje %}
                    </div>
                    {% empty %}
                        <p class="text-center">No hay mensajes en el foro...</p>
                    {% endfor %}

                {% endif %}
            </div>
        </div>

        <!-- LISTADO DE TAREAS -->
        <div class="tab-pane fade" id="tareas" role="tabpanel" aria-labelledby="tareas-tab">
            <div class="mt-4">
                <h3 class="text-center mb-3">Lista de Tareas</h3>
                <div class="row justify-content-center">
                    <div class="col-6">
                        {% if tareas %}
                            <div class="list-group">
                                {% for tarea in tareas %}
                                    <a href="{% url "detalles_tarea_estudiante" tarea.id %}" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-10">
                                                <h5 class="card-title">{{ tarea.titulo }}</h5>
                                                <p class="card-text">Fecha entrega: {{tarea.fecha_entrega}}</p>
                                            </div>  
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p class="text-warning text-center fw-bold">Esta asignatura no tiene tareas</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- LISTADO DE REUNIONES -->
        <div class="tab-pane fade" id="reuniones" role="tabpanel" aria-labelledby="reuniones-tab">
            <div class="mt-4">
                <h3>Lista de Reuniones</h3>
                
                {% if reuniones %}
                    {% for r in reuniones %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ r.titulo }}</h5>
                                <p class="card-text">{{ r.fecha_inicio }}</p>
                                <a class="btn btn-primary" href="{{ r.enlace }}">Acceder</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-primary fw-bold">Esta asignatura no tiene reuniones</p>
                {% endif %}
            </div>
        </div>

        <!-- LISTADO DE PARTICIPANTES -->
        <div class="tab-pane fade" id="miembros" role="tabpanel" aria-labelledby="miembros-tab">
            <div class="mt-4">
                <h3>Miembros de la Asignatura</h3>
                <div class="row">
                    <div class="col-6">
                        <h5>Profesores</h5>
                        <ul class="list-group mb-3">
                            {% if asignatura.profesores.all %}
                                {% for profesor in asignatura.profesores.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">{{ profesor.nombre }}</li>
                                {% endfor %}
                            {% else %}
                                <p class="text-info fw-bold">Esta asignatura no tiene profesores</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h5>Estudiantes</h5>
                        <ul class="list-group">
                            {% if asignatura.estudiantes.all %}
                                {% for estudiante in asignatura.estudiantes.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">{{ estudiante.nombre }}</li>
                                {% endfor %}
                            {% else %}
                                <p class="text-success fw-bold">Esta asignatura no tiene estudiantes</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById("sidebarToggle").addEventListener("click", function () {
        document.getElementById("sidebar").classList.toggle("d-none");
    });
</script>
{% endblock %}
